@page "/"

<div>
    <SfButton @onclick="@ClickHandler">Show/Hide Spinner</SfButton>
    <div id="container">
        <SfSpinner @bind-Visible="@VisibleProperty">
        </SfSpinner>
    </div>
</div>

@code{
    private bool VisibleProperty { get; set; } = false;

    private async Task ClickHandler()
    {
        this.VisibleProperty = true;
        await Task.Delay(2000);
        this.VisibleProperty = false;
    }
}