@page "/"

<div class="form-container">
    <SfTextArea  ResizeMode="Resize.None" FloatLabelType="FloatLabelType.Always" RowCount="6" ColumnCount="40"
                Placeholder="Type your message.." MaxLength="20"></SfTextArea>
</div>
<style>
    /* Center the form container */
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }
</style>

