@page "/counter"
@rendermode InteractiveAuto

<div id="target" style="min-height:200px; position:relative; width:300px; border:1px solid;">
    <SfFab Target="#target" IconCss="e-icons e-plus"></SfFab>
</div>