@page "/"

<div class="control-section">
    <div id="default-container">
        <div>
            <label><b>OTP Input component</b></label>
            <SfOtpInput></SfOtpInput>
        </div>

        @* Input Types *@
        <div style="display: flex; flex-direction: column; gap: 10px;">
            <label><b>Input Types</b></label>
            <SfOtpInput Value="1234"></SfOtpInput> @* By default Type property is Number. *@

            <SfOtpInput Value="e3c7" Type="OtpInputType.Text"></SfOtpInput>

            <SfOtpInput Value="e3c7" Type="OtpInputType.Password"></SfOtpInput>
        </div>


        @* Styling modes, placeholder and seperator *@
        <div style="display: flex; flex-direction: column; gap: 10px;">
            <label><b>Styling modes, placeholder and seperator</b></label>
            <SfOtpInput Separator="/" Placeholder="x" StylingMode="OtpInputStyle.Outlined"></SfOtpInput> @* The default styling mode is Outlined *@

            <SfOtpInput Separator="/" Placeholder="x" StylingMode="OtpInputStyle.Filled"></SfOtpInput>

            <SfOtpInput Separator="/" Placeholder="x" StylingMode="OtpInputStyle.Underlined"></SfOtpInput>
        </div>

        @* Appearance *@
        <div style="display: flex; flex-direction: column; gap: 10px;">
            <label><b>Appearance</b></label>
            <SfOtpInput Length=5></SfOtpInput> @* Setting input length *@

            <SfOtpInput Disabled="true"></SfOtpInput> @* Disable inputs *@
        </div>

        @* CSS class *@
        <div style="display: flex; flex-direction: column; gap: 10px;">
            <label><b>CSS class</b></label>
            <SfOtpInput Value="1234" CssClass="e-success"></SfOtpInput>

            <SfOtpInput Value="1234" CssClass="e-warning"></SfOtpInput>

            <SfOtpInput Value="1234" CssClass="e-error"></SfOtpInput>
        </div>
    </div>
</div>

<style>
    #default-container {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }

        #default-container div {
            width: 540px;
            margin: 15px auto;
        }
</style>

