@page "/"

@*Floating Action Button sample with 'Target' to position a FAB based on the target.*@

<div id="target" style="min-height:200px; position:relative; width:300px; border:1px solid;">
    <SfFab Target="#target" Content="Add"></SfFab>
</div>


@*Floating Action Button sample without 'Target' to position a FAB based on the target.*@

<SfFab Content="Add"></SfFab>