@page "/"
@rendermode InteractiveAuto

<div style="width: 200px">
    <SfSkeleton Shape="SkeletonType.Circle" Width="48px" CssClass="custom-css"></SfSkeleton>
    <SfSkeleton Shape="SkeletonType.Square" Width="48px"></SfSkeleton>
    <br/><br/>
    <SfSkeleton Shape="SkeletonType.Text" Height="15px"></SfSkeleton>
    <br/><br/>
    <SfSkeleton Shape="SkeletonType.Rectangle" Height="50px" Width="100%" ></SfSkeleton>
</div>
<style>
    .custom-css {
        margin-right: 30px;
    }
</style>

